
.flex.main {
    /*noinspection CssUnknownTarget*/
    background-image: url(/stardust-pur.png);
    background-position: center top;
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.flex.container {
    flex: 1;
    flex-direction: column;
    justify-content: start;
}